<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713823871073-rc0sbn7b78hbd7698s6pairescf8of5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713823871073-rc0sbn7b78hbd7698s6pairescf8of5v</string>
	<key>API_KEY</key>
	<string>AIzaSyBaUAs-QV64nsEzYxuO78BcR-JbL0sb-uM</string>
	<key>GCM_SENDER_ID</key>
	<string>713823871073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Suhong.YoutubePlayer</string>
	<key>PROJECT_ID</key>
	<string>swiftplayer-5936f</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftplayer-5936f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:713823871073:ios:a6ef1161cdb065c8c34a20</string>
	<key>DATABASE_URL</key>
	<string>https://swiftplayer-5936f.firebaseio.com</string>
</dict>
</plist>
